# Emacs Editor
_dirs-locals.el

# IDE Config
.vs
.idea
.vscode
.mypy_cache
.pytest_cache

# No venv
venv

# No Log
logs
wandb

# No Dataset
datasets/*
!datasets/.gitkeep

# No Python cache
.ipynb_checkpoints
__pycache__

# No PyTorch
*.pth
